img {
  border-radius:75px;
}
h2 {
  font-size:18px;
}
body{
  background-color:plum ;
  font-family:"Trebuchet MS";
  color:rgb(70, 54, 173);
}
a {
  background-color: white; 
  font-size: 20px;
  border-radius:10px;
  padding:10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: slateblue;
}
body{
  text-align: center;
}
